/* Media Query */
/* Para pequenas telas e celulares */

@media screen and (max-width: 768px) {
  #mae-e-filha {
    margin-bottom: 0;
    width: 300px;
    height: 200px;
  }
  #hero {
    width: 100%;
    margin:0px auto 60px;
    
  }

  footer {
    margin: auto;
  }

  #flower {
    display: none;
  }
}
